<body>
    <div class="login-container">
        <img src="../../../assets/logo_dsimmo.png" alt="DSIMMO Logo"> <!-- Replace with the actual logo path -->
        <br>
        <h3>Connexion</h3>
        <br>
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Nom d'utilisateur" required>
            </div>
            <br>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Mot de passe" required>
            </div>
            <br>
            <button type="submit" class="btn btn-connect">Connecter</button>
        </form>
    </div>
</body>