<div style="background-color:#E2BF71; padding-bottom: 110px;">
    <app-navbaradmin></app-navbaradmin>
    <div class="container" style="padding-top: 80px;">
       <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="container form-container">
                        <h3>Création de Compte Utilisateur</h3>
                        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="text" formControlName="nom" class="form-control" placeholder="Nom" required aria-label="Nom">
                                </div>
                                <div class="col">
                                    <input type="text" formControlName="prenom" class="form-control" placeholder="Prénom" required aria-label="Prénom">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="text" formControlName="adresse" class="form-control" placeholder="Adresse" required aria-label="Adresse">
                                </div>
                                <div class="col">
                                    <input type="tel" formControlName="telephone" class="form-control" placeholder="Téléphone" required aria-label="Téléphone">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="email" formControlName="email" class="form-control" placeholder="Email" required aria-label="Email">
                                </div>
                                <div class="col">
                                    <input type="text" formControlName="username" class="form-control" placeholder="Nom d'utilisateur" required aria-label="Nom d'utilisateur">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="password" formControlName="password" class="form-control" placeholder="Mot de passe" required aria-label="Mot de passe">
                                </div>
                                <div class="col">
                                    <select formControlName="profil" class="form-select" required aria-label="Profil">
                                        <option value="">Profil</option>
                                        <option value="ADMINISTRATEUR">ADMINISTRATEUR</option>
                                        <option value="AGENT">AGENT</option>
                                        <option value="PROPRIETAIRE">PROPRIETAIRE</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark">Créer</button>
                        </form>
                </div>
            </div>
       </div>
    </div>
    <app-sidebaradmin></app-sidebaradmin>
</div>
