<body style="background-color:#E2BF71;">
    <app-navbar></app-navbar>
    <div class="container" style="padding-top: 80px;">
       <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-8" style="margin-left: 20px">
                <div class="card">
                    <div class="card-header" style="text-align: center;">
                        <strong style="text-align: center;">Formulaire d'ajout Appartement</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput">Prix</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Ajouter une image</label>
                                    <input type="file" class="form-control-file" id="exampleInputFile">
                                </div>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput">Adresse</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Ajouter une video</label>
                                    <input type="file" class="form-control-file" id="exampleInputFile">
                                </div>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput">Superficie</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col">
                                        <select class="form-select" required>
                                            <option value="">Status</option>
                                            <option value="appartement">Appartement</option>
                                            <option value="maison">Maison</option>
                                            <option value="terrain">Terrain</option>
                                        </select>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-select" required>
                                        <option value="">Niveau</option>
                                        <option value="rdc">RDC</option>
                                        <option value="etage1">Etage 1</option>
                                        <option value="atage2">Etage 2</option>
                                        <option value="atage3">Etage 3</option>
                                        <option value="atage4">Etage 4</option>
                                    </select>
                                </div>                                
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput">Nombrede pieces</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput">N°APP</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" id="descriptionBienImmobilier" rows="4" placeholder="Description"></textarea>
                                </div>                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
    <app-sidebar></app-sidebar>
</body>

