* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Styles de la navbar */
.navbar {
    width: 700px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: auto;
    position: fixed;
}

.navbar .left {
    font-size: 18px;
}

.navbar .right a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar .right a:hover {
    color: #ddd;
}

/* Styles de la sidebar */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100vh;
    padding: 20px;
    left: 0;
    top: 0;
    transition: left 0.3s ease;
}

/* Logo */
.logo img {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

/* Menu */
.menu {
    list-style-type: none;
    flex-grow: 1;
}

.menu li {
    margin: 20px 0;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Copyright en bas */
.copyright {
    font-size: 14px;
    text-align: center;
    color: #aaa;
}

/* Styles pour le contenu principal */
.content {
    margin-left: 250px;
    padding: 20px;
    background-color: #f4f4f4;
    height: 100vh;
    width: 100%;
}

/* ----------- MEDIA QUERIES ----------- */

/* Pour les tablettes */
@media (max-width: 768px) {
    .navbar {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    .sidebar {
        width: 200px;
    }

    .content {
        margin-left: 200px;
    }

    .menu li a {
        font-size: 16px;
    }
}

/* Pour les téléphones */
@media (max-width: 480px) {
    .navbar {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    .navbar .left, .navbar .right {
        font-size: 16px;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        margin-left: 0;
    }

    .menu {
        flex-direction: column;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu li a {
        font-size: 14px;
        padding: 8px;
    }

    .copyright {
        font-size: 12px;
    }
}
